---
import { getCollection } from "astro:content";
import Footer from "@components/main/footer.astro";
import Navbar from "@components/main/navbar.astro";
import Layout from "@components/layout.astro";
import BlogCard from "@components/blog/card.astro";
import DevModeLabel from "@components/main/devmode.astro";

const test_blog = import.meta.env.DEV ? await getCollection("test_blog") : [];
const blog = await getCollection("blog");
const collections = [...test_blog, ...blog];

const posts = collections.sort((a, b) => {
  return b.data.createdAt.getTime() - a.data.createdAt.getTime();
});
---

<Layout title="Blog">
  <Navbar slot="header" />
  <h1>I write stuff</h1>
  {import.meta.env.DEV && <DevModeLabel />}
  <p>Sometimes i write down my thoughts and experience on various topics.</p>
  <p>
    You can also view my posts via{" "}
    <a href="/rss.xml" rel="alternate" type="application/rss+xml">RSS</a>.
  </p>
  <hr />
  {
    posts.map(({ data, id }) => (
      <BlogCard title={data.title} href={`/blog/${id}`} date={data.createdAt} />
    ))
  }
  <Footer slot="footer" />
</Layout>
