:root {
  color-scheme: light dark;
  --primary: light-dark(#111111, #f0f0f0);
  --secondary: light-dark(#2c2c2c, #cecece);
  --bg: light-dark(#f1f1f1, #1f1f1f);
  --link: light-dark(#1990ff, #ffdd20);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: var(--secondary);
  background-color: var(--bg);
  font-family: 'JetBrains Mono', 'JetBrainsMono Nerd Font', 'Cascadia Mono', 'Source Code Pro', Menlo, Consolas, 'Roboto Mono', 'DejaVu Sans Mono', monospace;
  line-height: 1.5;
  margin: 0 auto;
  padding: 2rem;
  max-width: 50rem;
}

h1, h2 {
  color: var(--primary);
  margin: 0;
  padding: 1rem 0;
  line-height: 1.2;
}

p {
  text-wrap: balance;
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.csr {
  opacity: 0;
  user-select: none;
  animation: blink 1s step-end infinite;

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

.linkbox {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem 0;
}

a {
  color: var(--primary);
  &:hover {
    color: var(--link);
  }
}

hr {
  margin: 1.5rem 0;
}

@media (any-hover: hover) {
  .tt {
    text-decoration: underline dotted;
    cursor: help;
  }
}

@media (scripting: none) {
  main::before {
    content: "There's no js here lmao.";
  }
}