:root {
  color-scheme: light dark;
  --primary: light-dark(#3d3d3d, #dadada);
  --secondary: light-dark(#4e4e4e, #a5a5a5);
  --bg: light-dark(#f3f3f3, #2b2b2b);
  --link: light-dark(#1990ff, #ffdd20);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: var(--secondary);
  background-color: var(--bg);
  font-family: 'Zed Mono Expanded', 'Iosevka Expanded', 'JetBrains Mono', 'JetBrainsMono Nerd Font', 'Fira Code', 'Cascadia Mono', 'Source Code Pro', Menlo, Consolas, 'Roboto Mono', 'DejaVu Sans Mono', ui-monospace, monospace;
  line-height: 1.5;
  margin: 0 auto;
  padding: 2rem;
  max-width: 50rem;
  transition: all 0.5s ease;
}

h1, h2 {
  color: var(--primary);
  margin: 0;
  padding: 1rem 0;
  line-height: 1.2;
}

p {
  text-wrap: balance;
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.csr {
  opacity: 0;
  user-select: none;
  animation: blink 1s step-end infinite;

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

.linkbox {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem 0;
}

a {
  color: var(--primary);
  transition: color 0.3s ease;
  &:hover {
    color: var(--link);
  }
}

hr {
  margin: 1.5rem 0;
}

@media (any-hover: hover) {
  .tt {
    text-decoration: underline dotted;
    cursor: help;
    &:hover {
      color: var(--link);
      transition: color 0.6s ease;
    }
  }
}

@media (scripting: none) {
  main::before {
    content: "There's no js here lmao.";
  }
}