---
import Box from "@components/main/box.astro";

---

<Box tag="article">
  <div></div>
</Box>

<style>
  div {
    height: 4lh;

    @media (min-width: 520px) {
      height: 3lh;
    }
  }
</style>