---
import { getCollection } from "astro:content"
import Footer from "@components/main/footer.astro"
import Navbar from "@components/main/navbar.astro"
import Layout from "@components/layout.astro"
import Box from "@components/main/box.astro"

const collections = await getCollection("blog")

const posts = collections.sort((a, b) => {
	return b.data.createdAt.getTime() - a.data.createdAt.getTime()
})

const style = `
	display: inline-block;
	background-color: var(--fg);
	color: var(--bg);
`
---

<Layout title="Blog">
	<Navbar slot="header" />
	<h1>I write stuff</h1>
	{
		import.meta.env.DEV && (
			<strong {style}>&nbsp;DEVELOPMENT MODE&nbsp;</strong>
		)
	}
	<p>Sometimes i write down my thoughts and experience on various topics.</p>
	<p>
		You can also view my posts via
		<a href="/rss.xml" rel="alternate" type="application/rss+xml">RSS</a>.
	</p>
	{
		posts.map((post) => (
			<Box class="post">
				<article>
					<a href={`/blog/${post.id}`}>{post.data.title}</a>
					<span>{post.data.createdAt.toISOString().slice(0, 10)}</span>
				</article>
			</Box>
		))
	}
	<Footer slot="footer" />
</Layout>

<style>
	.post {
		margin: 1lh 0;
	}

	article {
		display: flex;
		flex-direction: column;
		row-gap: 1em;
	}

	@media (width >= 768px) {
		article {
			flex-direction: row;
			justify-content: space-between;
		}

		a {
			max-width: 70%;
		}
	}
</style>
