:root {
	color-scheme: light dark;
	font-size: clamp(1rem, 0.874rem + 0.465vw, 1.2rem);
	
	--max-width: 90ch;
	--accent: light-dark(#0057db, #efc22f);
	--fg: light-dark(#333333, #dcdcdc);
	--fg-secondary: light-dark(#404040, #a5a5a5);
	--bg: light-dark(#e9e9e9, #1d1d1d);
	--bg-secondary: light-dark(#bdbdbd, #383838);

	&[data-theme="dark"] {
		color-scheme: dark;
	}

	&[data-theme="light"] {
		color-scheme: light;
	}
}

::selection {
	background-color: var(--accent);
	color: var(--bg);
}

*, *::before, *::after {
	box-sizing: border-box;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}

	button, a, summary, summary::before, select {
		transition:
			background-color .1s,
			color .1s,
			text-decoration-color .1s,
			rotate .1s;
	}

	::details-content {
		transition:
			content-visibility .2s allow-discrete,
			opacity .2s,
			block-size .2s;
	}
}

button {
	display: block;
	line-height: inherit;
	padding: 0 1ch;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	color: var(--bg);
	background-color: var(--fg-secondary);
	user-select: none;

	&:active:not(:disabled) {
		color: var(--bg);
		background-color: var(--accent);
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

h1, h2, h3, h4, h5, h6 {
	display: flex;
	gap: 0 1ch;
	font-size: unset;
	scroll-margin-top: calc(2rlh + 1lh + 2em);
	color: var(--fg);
	margin: 2em 0;
	padding: 0;
}

a {
	color: var(--fg);
	text-decoration: underline solid var(--bg-secondary) 1px;
	text-underline-offset: 0.25rlh;
	overflow-wrap: break-word;
	scroll-margin-top: calc(2rlh + 1lh + 1em);

	&:hover {
		color: var(--accent);
		text-decoration-color: inherit;
	}
}

details {
	color: var(--fg-secondary);
	margin: 1.5em 0;
	interpolate-size: allow-keywords;
	-webkit-tap-highlight-color: transparent;

	&::details-content {
		opacity: 0;
		block-size: 0;
		overflow-y: clip;
	}

	&[open]::details-content {
		opacity: 1;
		block-size: auto;
	}

	&[open] summary {
		&::before {
			rotate: 90deg;
		}
		color: var(--fg);
	}

	summary {
		display: flex;
		gap: 1ch;
		font-weight: 700;
		cursor: pointer;
		width: fit-content;
		list-style: none;

		&::before {
			display: inline-block;
			content: ">";
			font-weight: 700;
		}

		&:hover {
			color: var(--accent);
		}
	}
}

ul {
	display: flex;
	flex-direction: column;
	padding-inline-start: 2ch;
}

ul li::marker {
	content: "- ";
}

ol {
	display: flex;
	padding: 0;
	flex-direction: column;
	list-style-position: inside;
}

ol p {
	display: inline;
	vertical-align: top;
	margin: 0;
}

hr {
	color: var(--bg-secondary);
	border-style: none none solid;
	margin: 1.5rlh 0;
}

pre, code {
	border-radius: 4px;
	font-family: inherit;
	scrollbar-color: var(--fg-secondary) transparent;
}

code:not(pre code) {
	color: var(--fg);
	background-color: color-mix(in srgb, var(--bg-secondary), transparent 50%);
	padding: 0 1ch;
}

option::checkmark {
	content: "<";
}

blockquote {
	margin: 0;
	padding: 0 0 0 2ch;
	border-left: 1ch solid var(--bg-secondary);
}

@media (scripting: none) {
	.js {
		display: none;
	}
}
