@view-transition {
	navigation: auto
}

:root {
	color-scheme: light dark;
	--max-width: 90ch;
	--accent: light-dark(#0073c0, #ff9900);
	--fg: light-dark(#3d3d3d, #dadada);
	--fg-secondary: light-dark(#4e4e4e, #919191);
	--bg: light-dark(#e9e9e9, #1d1d1d);
	--bg-secondary: light-dark(#bdbdbd, #383838);

	&[theme="dark"] {
		color-scheme: dark;
	}

	&[theme="light"] {
		color-scheme: light;
	}
	
	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

::selection {
	background-color: var(--fg);
	color: var(--bg);
}

*, *::before, *::after {
	box-sizing: border-box;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

button {
	line-height: inherit;
	padding: 0 1ch;
	border: 0;
	font-size: inherit;
	color: var(--bg);
	background-color: var(--fg-secondary);
	user-select: none;

	&:focus {
		background-color: var(--accent);
	}
}

h1, h2, h3, h4, h5, h6 {
	display: flex;
	gap: 0 1ch;
	font-size: unset;
	scroll-margin-top: calc(2rlh + 1lh + 2em);
	color: var(--fg);
	margin: 2em 0;
	padding: 0;
}

a {
	color: var(--fg);
	text-decoration: underline solid var(--bg-secondary) 1px;
	text-underline-offset: 0.25rlh;
	overflow-wrap: break-word;
	scroll-margin-top: calc(2rlh + 1lh + 1em);

	&:hover {
		color: var(--accent);
		text-decoration-color: inherit;
	}
}

details {
	color: var(--fg-secondary);
	margin: 1.5em 0;
	interpolate-size: allow-keywords;

	&::details-content {
		opacity: 0;
		block-size: 0;
		overflow-y: clip; 
		transition:
			content-visibility .2s allow-discrete,
			opacity .2s,
			block-size .2s;
	}
	
	&[open]::details-content {
		opacity: 1;
		block-size: auto;
	}

	summary {
		font-weight: 700;
		cursor: pointer;
		width: fit-content;
		list-style: none;

		&::before {
			display: inline;
			content: "> ";
			font-weight: 700;
		}
	}

	&[open] summary {
		&::before {
			content: "v ";
		}
		color: var(--fg);
	}
}

ul {
	display: flex;
	row-gap: 0.5lh;
	flex-direction: column;
	padding-inline-start: 2ch;
}

ul li::marker {
	content: "- ";
}

ol {
	display: flex;
	padding: 0;
	row-gap: 0.5lh;
	flex-direction: column;
	list-style-position: inside;
}

ol p {
	display: inline;
	vertical-align: top;
	margin: 0;
}

hr {
	color: var(--bg-secondary);
	border-style: none none solid;
	margin: 1.5rlh 0;
}

button {
	display: block;
	font-family: inherit;
	font-size: inherit;
	padding: 0 1ch;
}

pre, code {
	border-radius: 4px;
	font-family: inherit;
	scrollbar-color: var(--fg-secondary) transparent;
}

code:not(pre code) {
	color: var(--fg);
	background-color: color-mix(in srgb, var(--bg-secondary), transparent 50%);
	padding: 0.1em 1ch;
}

option::checkmark {
	content: "<";
}

blockquote {
	margin: 0;
	padding: 0 0 0 2ch;
	border-left: 1ch solid var(--bg-secondary);
}

@media (scripting: none) {
	.js {
		display: none;
	}
}
