---
import { BACKEND_URL } from "astro:env/client";
import { AstroError } from "astro/errors";
import z from "astro/zod";
import Footer from "@components/main/footer.astro";
import Navbar from "@components/main/navbar.astro";
import Layout from "@components/layout.astro";
import GuestbookEntry from "@components/guestbook/entry.astro";

import { hc } from "hono/client";
import type { App } from "../../../backend/src/index";

const backend = hc<App>(BACKEND_URL);
const pageParam = Astro.url.searchParams.get("page") ?? "1";
const pageParamSchema = z.preprocess(
  (val: string) => parseInt(val, 10),
  z.number().positive(),
);

const { success, data: page } = pageParamSchema.safeParse(pageParam);
if (!success) throw new AstroError("Invalid page query parameter");

const entriesPerPage = 10;
const [countRes, entriesRes] = await Promise.all([
  backend.guestbook.count.$get(),
  backend.guestbook.$get({
    query: {
      offset: (entriesPerPage * (page - 1)).toString(),
      limit: entriesPerPage.toString(),
    },
  }),
]);
if (!countRes.ok || !entriesRes.ok) throw new AstroError("Failed to fetch guestbook data");

const [count, entries] = await Promise.all([
  countRes.json(),
  entriesRes.json(),
]);

const totalPages = Math.max(1, Math.ceil(count / entriesPerPage));
export const prerender = false;
---

<Layout>
  <Navbar slot="header" />
  {
    page === 1 && (
      <h1>Guestbook</h1>
      <form
        method="post"
        action={backend.guestbook.$url().toString()}
        enctype="multipart/form-data"
      >
        <fieldset>
          <div>
            <label for="username">Name:</label>
            <input
              type="text"
              id="username"
              name="username"
              autocomplete="off"
              maxlength="30"
              required
            />
          </div>
          <div>
            <label for="url">URL (optional):</label>
            <input type="url" id="url" name="url" />
          </div>
          <div>
            <label for="message">Message:</label>
            <textarea
              id="message"
              name="message"
              required
              minlength="5"
              maxlength="150"
              autocorrect="off"
            />
          </div>
          <button type="submit">Submit</button>
        </fieldset>
      </form>
    )
  }
  <hr>
  {
    entries.length > 0 && (
      <div id="entries">
        {entries.map((entry) => <GuestbookEntry {...entry} />)}
      </div>
    )
  }
  <div class="pagination">
    <p>Viewing page {page} out of {totalPages}</p>
    <div class="pagelinks">
      {
        page > 1 && (
          <a href={`/guestbook?page=${page - 1}`}>Previous Page</a>
        )
      }
      {
        page < totalPages && (
          <a href={`/guestbook?page=${page + 1}`}>Next Page</a>
        )
      }
    </div>
  </div>
  <Footer slot="footer" />
</Layout>

<style>
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 1em 0;
    padding: 0;
    margin: 0;
    border: none;
  }

  input,
  textarea {
    display: block;
    line-height: inherit;
    outline: 0;
    border: 0;
    width: 100%;
    font-size: unset;
    font-family: inherit;
    color: var(--fg);
    background-color: color-mix(in srgb, var(--bg-secondary) 50%, transparent);
    padding: 0;
  }

  button[type="submit"] {
    align-self: flex-end;

    &:before {
      content: "> ";
    }
  }

  textarea {
    field-sizing: content;
    resize: none;
    overflow-wrap: anywhere;
  }

  #entries {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .pagination {
    margin: 1lh 0;
  }

  .pagelinks {
    display: flex;
    gap: 1em;
    justify-content: space-between;
  }
</style>
