---
import { getCollection } from "astro:content"
import Footer from "@components/main/footer.astro"
import Navbar from "@components/main/navbar.astro"
import Layout from "@components/layout.astro"
import Marquee from "@components/main/marquee.astro"
import BlogCard from "@components/blog/card.astro"

const testBlog = import.meta.env.DEV ? await getCollection("testBlog") : []
const blog = await getCollection("blog")
const collections = [...testBlog, ...blog]

const recentPosts = collections
	.sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime())
	.slice(0, 3)
---

<Layout title="azrd">
	<Navbar slot="header" label="index"/>
	<Marquee />
	<hr />
	<section id="introduction">
		<h1>Hi, i'm azrd</h1>
		<p>
			Welcome to my website, feel free to explore as much as you
			want.
		</p>
		<p>
			I'm an amateur developer who likes topics about software. Currently
			enrolled in a university, learning about information systems.
		</p>
		<p>Here are some links where you can reach me:</p>
		<div id="links">
			<a href="https://bsky.app/profile/did:plc:d7d6hxynbzfgbpvw5njtxbhw" rel="external nofollow">
				bluesky
			</a>
			<a href="https://web.facebook.com/app.yaml" rel="external nofollow">
				facebook
			</a>
			<a href="https://t.me/azisrdn" rel="external nofollow">
				telegram
			</a>
			<a href={`mailto:hi+web@${Astro.site?.hostname}`} rel="external nofollow">
				email
			</a>
		</div>
	</section>
	{recentPosts.length > 0 && (
		<hr />
		<section id="recent_posts">
			<h1>Recent Blog Posts</h1>
			{recentPosts.map(({ data, id }) => (
				<BlogCard title={data.title} href={`/blog/${id}/`} date={data.createdAt} />
			))}
		</section>
	)}
	<Footer slot="footer" />
</Layout>

<style>
	#links {
		margin: 2em 0;
		display: flex;
		flex-wrap: wrap;
		column-gap: 3ch;
		row-gap: 1rlh;
	}
</style>
