---
interface Props {
  id: string;
}
---

<select name="theme_select" id={Astro.props.id}>
  <option value="system">System</option>
  <option value="light">Light</option>
  <option value="dark">Dark</option>
</select>

<script>
  const select = document.querySelector<HTMLSelectElement>(
    "select[name=theme_select]",
  );
  if (!select) throw new Error("Theme selector not found");
  select.value = localStorage.getItem("theme") || "system";

  const setTheme = (theme: string) => {
    document.documentElement.dataset.theme = theme;
    localStorage.setItem("theme", theme);
  };

  select.addEventListener("change", () => {
    const mq = window.matchMedia("(prefers-reduced-motion)").matches;
    if (mq || !document.startViewTransition) return setTheme(select.value);
    document.startViewTransition(() => setTheme(select.value));
  });
</script>

<style>
  select {
    appearance: base-select;
    padding: 0;
    border: none;
    background: none;
    color: var(--fg);
    font-family: inherit;
    font-size: inherit;
    text-overflow: ellipsis;

    &::picker(select) {
      margin: 0;
      appearance: base-select;
      color: var(--fg);
      cursor: initial;
      border: 1px solid var(--bg-secondary);
      background-color: var(--bg);
    }

    &::picker-icon {
      content: "<";
      color: var(--fg-secondary);

      @media (prefers-reduced-motion: no-preference) {
        transition: rotate 0.1s;
      }
    }

    &:open::picker-icon {
      rotate: 90deg;
    }

    &:hover {
      color: var(--accent);
    }
  }

  option {
    padding: 0 calc(1ch - 1px);
    margin: 0.5em 0;

    &:hover {
      background-color: unset;
      color: var(--accent);
    }

    &::checkmark {
      order: 1;
      margin-left: auto;
    }
  }
</style>
