.astro-code, .astro-code span {
	color: light-dark(var(--shiki-light), var(--shiki-dark));
	background-color: light-dark(var(--shiki-light-bg), var(--shiki-dark-bg));
}

@media (prefers-color-scheme: dark) {
	.astro-code, .astro-code span {
		font-style: var(--shiki-dark-font-style);
		font-weight: var(--shiki-dark-font-weight);
		text-decoration: var(--shiki-dark-text-decoration);
	}
}

@media (prefers-color-scheme: light) {
	.astro-code, .astro-code span {
		font-style: var(--shiki-light-font-style);
		font-weight: var(--shiki-light-font-weight);
		text-decoration: var(--shiki-light-text-decoration);
	}
}

[theme="dark"] {
	.astro-code, .astro-code span {
		color: var(--shiki-dark);
		background-color: var(--shiki-dark-bg);
		font-style: var(--shiki-dark-font-style);
		font-weight: var(--shiki-dark-font-weight);
		text-decoration: var(--shiki-dark-text-decoration);
	}
}

[theme="light"] {
	.astro-code, .astro-code span {
		color: var(--shiki-light);
		background-color: var(--shiki-light-bg);
		font-style: var(--shiki-light-font-style);
		font-weight: var(--shiki-light-font-weight);
		text-decoration: var(--shiki-light-text-decoration);
	}
}

blockquote {
	margin: 0;
	padding: 0 0 0 2ch;
	border-left: 1ch solid var(--bg-secondary);
}

pre:has(code) {
	position: relative;
	padding: 0.75em 1em;
	/* font-size: 0.95em; */
	scrollbar-width: thin;
}

table {
	display: block;
	overflow-y: auto;
	border-collapse: collapse;
}

th {
	text-align: start;
	
	&[align="right"] {
		text-align: end;
	}
}

th, td {
	border: 2px solid var(--fg-secondary);
	padding: 0.5em 1ch;
	vertical-align: top;
}

.content {
	h1::before { content: "#" }
	h2::before { content: "##" }
	h3, h4, h5, h6 {
		&::before { content: "###" }
	}
}
