@view-transition {
	navigation: auto;
}

:root {
	color-scheme: light dark;
	--primary: light-dark(#3d3d3d, #dadada);
	--secondary: light-dark(#4e4e4e, #949494);
	--bg: light-dark(#f3f3f3, #1d1d1d);
	--bg-secondary: light-dark(#cacaca, #424242);
}

[theme="dark"] {
	color-scheme: dark;
}

[theme="light"] {
	color-scheme: light;
}

*, *::before, *::after {
	box-sizing: border-box;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-size: unset;
	color: var(--primary);
	margin: 2rem 0;
	padding: 0;
}

a {
	color: var(--primary);
	text-underline-offset: 0.3em;
	overflow-wrap: break-word;

	&:hover {
		color: var(--bg);
		background-color: var(--primary);
		text-decoration: none;
	}
}

blockquote {
	margin: 0;
	padding: 0 0 0 2ch;
	border-left: 1ch solid var(--bg-secondary)
}

pre, code {
	font-family: inherit;
}

pre:has(code) {
	padding: 1em 2ch;
}

code:not(pre code) {
	color: var(--primary);
	background-color: var(--bg-secondary);
	padding: 0 1ch;
	border-radius: 0.5ch;
}

table {
	display: block;
	overflow-y: auto;
	border-collapse: collapse;
}

th, td {
	border: 2px solid var(--secondary);
	padding: 1em 1ch;
	vertical-align: top;
}

hr {
	border-style: solid;
	margin: 1em 0
}

ul {
	padding-inline-start: 2ch;
}

ol {
	padding: 0;
	list-style-position: inside;
}

ol p {
	display: inline;
	vertical-align: top;
	margin: 0;
}
