@view-transition {
	navigation: auto;
}

&::view-transition-old(root),
&::view-transition-new(root) {
	animation-duration: 0s;
}

:root {
	color-scheme: light dark;
	--max-width: 90ch;
	--accent: light-dark(#0073c0, #ff9900);
	--fg: light-dark(#3d3d3d, #dadada);
	--fg-secondary: light-dark(#4e4e4e, #a5a5a5);
	--bg: light-dark(#f3f3f3, #1d1d1d);
	--bg-secondary: light-dark(#bdbdbd, #383838);

	&[theme="dark"] {
		color-scheme: dark;
	}

	&[theme="light"] {
		color-scheme: light;
	}
}

::selection {
	background-color: var(--fg);
	color: var(--bg);
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

*, *::before, *::after {
	box-sizing: border-box;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	display: flex;
	gap: 0 1ch;
	font-size: unset;
	scroll-margin-top: calc(2rlh + 1lh + 2em);
	color: var(--fg);
	margin: 2em 0;
	padding: 0;
}

a {
	color: var(--fg);
	text-underline-offset: 0.25rlh;
	overflow-wrap: break-word;
	scroll-margin-top: calc(2rlh + 1lh + 1em);

	&:hover {
		color: var(--accent);
	}
}

details {
	color: var(--fg-secondary);
	margin: 1em 0;
	summary {
		font-weight: 700;
		cursor: pointer;
		width: fit-content;
		list-style: none;

		&::before {
			display: inline;
			content: "> ";
			font-weight: 700;
		}
	}

	&[open] summary {
		&::before {
			content: "v ";
		}
		color: var(--fg);
	}
}

ul {
	padding-inline-start: 2ch;
}

ol {
	padding: 0;
	list-style-position: inside;
}

ol p {
	display: inline;
	vertical-align: top;
	margin: 0;
}

hr {
	color: var(--bg-secondary);
	border-style: solid;
	margin: 1.5rlh 0;
}

button {
	display: block;
	font-family: inherit;
	font-size: inherit;
	padding: 0 1ch;
}

pre, code {
	border-radius: 4px;
	font-family: inherit;
	scrollbar-color: var(--fg-secondary) transparent;
}

code:not(pre code) {
	color: var(--fg);
	background-color: color-mix(in srgb, var(--bg-secondary), transparent 50%);
	padding: 0.1em 1ch;
}

option::checkmark {
	content: "+";
}

@media (scripting: none) {
	.js {
		display: none;
	}
}
