---
import Layout from '../layouts/posinega.astro'
import Navbar from '../components/navbar.astro'
import Footer from '../components/footer.astro'
---

<Layout title="Not found">
	<Navbar slot="header" />
	<main>
		<h1>404 - Not Found</h1>
		<p>Page not found, might be work in progress, or it doesn't really exist at all.</p>
		<p><a href="/">Go Back</a></p>
	</main>
	<Footer></Footer>
</Layout>
