---
import Badges from "../components/88x31s.astro"
import Footer from "../components/footer.astro"
import Navbar from "../components/navbar.astro"
import Layout from "../layouts/posinega.astro"

const interests = [
	"Video Games",
	"Open Source",
	"GNU/Linux",
	"Digital/Traditional Art",
	"Anime",
	"Cloud Computing",
	"DevOps",
	"Compute Scalability",
	"Cloud Orchestration",
	"Distributed Systems",
	"Mechanical Keyboards",
	"Simplicity",
]
---

<Layout title="About azrd">
	<Navbar slot="header" label="About" />
	<section>
		<h1>Who am I</h1>
		<p>
			Just a <em>normie</em> who likes to play video games, doomscroll through
			social media, and searching for his true passion, nothing special.
		</p>
		<p>
			Sometimes i experiment with new things, either tech or not, and
			often found eating fast foods from the local stores and cafeteria.
		</p>
		<p>
			You can find a bunch of my other links and profiles <a
				href="https://bento.me/azrd">here</a
			>.
		</p>
	</section>
	<details>
		<summary>Interests</summary>
		<p id="interests">{interests.map((int) => <code>{int}</code>)}</p>
	</details>
	<details>
		<summary>My Gear</summary>
		<ul>
			<li>Computer: Acer Aspire 5 A514-54G</li>
			<li>Monitor: Viewsonic VX2479-HD-PRO</li>
			<li>Keyboard: Ajazz AK832</li>
			<li>Mouse: Pressplay Iris</li>
		</ul>
	</details>
	<Badges />
	<Footer slot="footer" />
</Layout>

<style>
	#interests {
		display: flex;
		flex-wrap: wrap;
		gap: 1ch;
	}
</style>
