---
import { getCollection } from "astro:content";
import Layout from "../layouts/posinega.astro";
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";

const posts = await getCollection("blog");
---

<Layout title="Blog">
	<Navbar slot="header" />
	<h1>Work in Progress</h1>
	<p>Everything here is just a placeholder</p>
	{
		posts.map((post) => (
			<article>
				<a href={`/blog/${post.id}`}>{post.data.title}</a>
				<span>{post.data.date.toISOString().substring(0, 10)}</span>
			</article>
		))
	}
	<Footer />
</Layout>

<style>
	article {
		display: flex;
		flex-direction: column;
		border: 2px solid var(--bg-secondary);
		padding: 1em 2ch;
		margin: 1em 0;
		gap: 1em
	}

	a {
		width: 100%;
		text-decoration: none;
	}

	@media (width >= 768px) {
		article {
			flex-direction: row;
			justify-content: space-between;
		}

		a {
			max-width: 70%;
		}
	}
</style>
