---
import { actions } from "astro:actions";

import Footer from "@components/main/footer.astro";
import Navbar from "@components/main/navbar.astro";
import Layout from "@components/layout.astro";
import GuestbookEntries from "@components/guestbook/entries.astro";
import GuestbookSkeleton from "@components/guestbook/skeleton.astro";

export const prerender = false;
const result = Astro.getActionResult(actions.addGuestbookEntry);
if (result && !result.error) return Astro.redirect("/guestbook");
---

<Layout>
	<Navbar slot="header" />
	<h1>Guestbook</h1>
	<form
		method="post"
		action={actions.addGuestbookEntry}
		enctype="multipart/form-data"
	>
		<fieldset>
			<div>
				<label for="username">Name:</label>
				<input
					type="text"
					id="username"
					name="username"
					autocomplete="off"
					maxlength="20"
					required
				/>
			</div>
			<div>
				<label for="url">URL (optional):</label>
				<input type="url" id="url" name="url" />
			</div>
			<div>
				<label for="message">Message:</label>
				<textarea
					id="message"
					name="message"
					required
					minlength="5"
					maxlength="100"
					autocorrect="off"></textarea>
			</div>
			<button type="submit">&gt; Submit</button>
		</fieldset>
	</form>
	<hr />
	<div id="entries">
		<GuestbookEntries server:defer>
			<Fragment slot="fallback">
				{[...Array(5)].map(() => <GuestbookSkeleton />)}
			</Fragment>
		</GuestbookEntries>
	</div>
	<Footer slot="footer" />
</Layout>

<style>
	fieldset {
		display: flex;
		flex-direction: column;
		gap: 1em 0;
		padding: 0;
		margin: 0;
		border: none;
	}

	input,
	textarea {
		display: block;
		line-height: inherit;
		outline: 0;
		border: 0;
		width: 100%;
		font-size: unset;
		font-family: inherit;
		color: var(--fg);
		background-color: color-mix(in srgb, var(--bg-secondary) 50%, transparent);
		padding: 0;
	}

	button {
		align-self: flex-end;
	}

	textarea {
		field-sizing: content;
		resize: none;
		overflow-wrap: anywhere;
	}

	#entries {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
</style>
