---
import Layout from '../layouts/posinega.astro'
import Navbar from '../components/navbar.astro'
import TopographyImage from '../components/topography.astro'
import Footer from '../components/footer.astro'
---
<Layout title="azrd">
	<Navbar />
	<TopographyImage />
	<main>
		<h1>hi, i'm azis</h1>
		<p>Jack of few trades, master of none.</p>
		<p>Sometimes experimenting with new things, and often found eating fast foods from the local cafeteria.</p>
	</main>
	<section>
		<h1>about me</h1>
		<p>Just a <em>normie</em> who likes to play video games and doomscroll through social media, My other hobbies include watching anime and listening to music.</p>
		<p>Here's my SNS links if you want to know more about me: <a target="_blank" href="https://bento.me/azrd" rel="external noreferrer nofollow">Bento</a></p>
	</section>
	<Footer />
</Layout>
