---
import Footer from "../components/footer.astro";
import Navbar from "../components/navbar.astro";
import Topography from "../components/topography.svg";
import Layout from "../layouts/posinega.astro";

const personal_links = [
	{ href: "https://bsky.app/profile/azrd.dev", text: "bluesky" },
	{ href: "https://web.facebook.com/app.yaml", text: "facebook" },
	{ href: "https://github.com/azrdn", text: "github" },
	{ href: "mailto:hi+web@azrd.dev", text: "email" },
];
---

<Layout title="azrd">
	<Navbar slot="header" />
	<!-- image by freepik -->
	<picture id="_banner"><Topography /></picture>
	<section>
		<h1>Hi, i'm azrd</h1>
		<p>
			Welcome to my humble website, feel free to explore
			as much as you want.
		</p>
		<p>
			I'm an amateur developer who likes topics about software.
			Currently enrolled in a university,
			learning about information systems.
		</p>
	</section>
	<section id="_links">
		{personal_links.map((link) => <a href={link.href}>{link.text}</a>)}
	</section>
	<Footer slot="footer" />
</Layout>

<style>
	#_banner {
		border: 2px solid var(--secondary);
		overflow: hidden;
		margin: 1lh 0;
		max-height: 6rlh;
	}

	#_links {
		margin: 2em 0;
		display: flex;
		flex-wrap: wrap;
		column-gap: 3ch;
		row-gap: 1rlh;
	}
</style>
