---
import Layout from '../layouts/posinega.astro'
import Navbar from '../components/navbar.astro'
import Topography from '../components/topography.svg'
import Footer from '../components/footer.astro'
---

<Layout title="azrd">
	<Navbar slot="header"/>
	<!-- image by freepik -->
	<picture id="hero_banner"><Topography/></picture>
	<section>
		<h1>hi, i'm azis</h1>
		<p>Jack of few trades, master of none.</p>
		<p>Sometimes experimenting with new things, and often found eating fast foods from the local cafeteria.</p>
	</section>
	<section>
		<h1>about me</h1>
		<p>Just a normie who likes to play video games and doomscroll through social media, My other hobbies include watching anime and listening to music.</p>
		<p>Here's my SNS links if you want to know more about me: <a target="_blank" href="https://bento.me/azrd" rel="external nofollow">Bento</a></p>
	</section>
	<Footer slot="footer" />
</Layout>

<style is:global>
	#hero_banner {
		border: 2px solid var(--secondary);
		overflow: hidden;
		margin: 1lh 0;
		max-height: 6rlh;
	}
</style>
