---
import Footer from "../components/footer.astro";
import Navbar from "../components/navbar.astro";
import Layout from "../layouts/posinega.astro";
---

<Layout title="Projects">
	<Navbar slot="header" label="Projects" />
	<h1>Projects? This website is!</h1>
	<p>
		I actually discard a lot of side projects because of the inadequate
		effort i put, but this time, its <em>different.</em>
	</p>
	<p>Expect more projects here sooner or later...</p>
	<Footer slot="footer" />
</Layout>
