---
import { REPO_URL } from "astro:env/server"

const buttons = [
	{
		src: "/88x31/green-team.gif",
		href: "https://512kb.club",
		alt: "a proud member of the green team of 512KB club",
	},
	{
		src: "/88x31/brainmade.png",
		href: "https://brainmade.org",
		alt: "brainmade.org badge",
	},
	{
		src: "/88x31/bad-markup.gif",
		href: "https://validator.w3.org/nu/",
		alt: "lol",
	},
	{
		src: "/88x31/astro.png",
		href: "https://astro.build",
		alt: "made on astro framework",
	},
	{
		src: "/88x31/fedora.png",
		href: "https://fedoraproject.org/",
		alt: "fedora",
	},
	{
		src: "/88x31/imissxp.gif",
		href: "https://en.wikipedia.org/wiki/Windows_XP",
		alt: "i miss xp",
	},
	{
		src: "/88x31/minecraft.gif",
		href: "https://minecraft.net/",
		alt: "minecraft",
	},
	{
		src: "/88x31/ubo.png",
		href: "https://github.com/gorhill/uBlock",
		alt: "ublock origin",
	},
	{
		src: "/88x31/inetarcv.png",
		href: "https://archive.org/",
	},
	{
		src: "/88x31/lain.png",
		href: "https://www.nbcuni.co.jp/rondorobe/anime/lain/",
		alt: "lain",
	},
	{
		src: "/88x31/terraria.gif",
		href: "https://terraria.org/",
		alt: "terraria",
	},
	{
		src: "/88x31/add.png",
		href: `${REPO_URL}/pulls`,
		alt: "add your badge",
	},
]
---

<div id="badges">
	{
		buttons.map(({ src, href, alt }) => (
			<a {href}><img {src} {alt} loading="lazy" width="88" height="31" /></a>
		))
	}
</div>

<style>
	#badges {
		margin: 2em 0;
		display: grid;
		gap: 0.2em;
		grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
		justify-content: center;
		align-items: center;
		image-rendering: pixelated;

		a {
			width: 88px;
			height: 31px;
			margin: 0 auto;
		}
	}
</style>
