---
import { hash } from "../utils/git"

const commit_url = `${import.meta.env.REPO_URL}/commit/${hash}`
---

<footer>
	<section class="top">
		<div class="left">
			<p>
				<span id="cl">©</span> {new Date().getFullYear()} under the <a
					target="_blank"
					href="https://www.gnu.org/licenses/gpl-3.0.en.html"
					rel="external nofollow">GPLv3 License</a
				>.
			</p>
			<p class="js">
				<label for="theme-select">Theme:&nbsp;</label>[<select
					name="theme"
					id="theme-select"
				>
					<option value="system">System</option>
					<option value="light">Light</option>
					<option value="dark">Dark</option>
				</select>]
			</p>
		</div>
		<div class="right">
			<p>Built on commit <a href={commit_url}>{hash}</a></p>
			<p>Made with &lt;3</p>
		</div>
	</section>
</footer>

<script is:inline>
	const select = document.querySelector("#theme-select");
	if (!select) throw new Error("Theme selector missing");
	select.value = localStorage.getItem("theme") || "system";

	const set_theme = (theme) => {
		document.documentElement.setAttribute("theme", theme);
		localStorage.setItem("theme", theme);
	};

	select.onchange = () => set_theme(select.value);
</script>

<style>
	footer {
		z-index: 1;
		background-color: var(--bg);
		border-top: 1px solid var(--bg-secondary);
		padding: 0 2ch;
	}

	.top {
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		#cl {
			display: inline-block;
			transform: scale(-1, 1);
		}
	}

	select {
		/* TODO: rework after customizable select lands in FF */
		appearance: base-select;
		cursor: pointer;
		padding: 0;
		border: none;
		background: none;
		color: var(--fg);
		font-family: inherit;
		font-size: inherit;
		text-overflow: ellipsis;

		&::picker(select) {
			appearance: base-select;
			color: var(--fg);
			cursor: initial;
			border: 2px solid var(--fg-secondary);
		}

		&:open::picker-icon {
			rotate: 180deg;
		}
	}

	option {
		background-color: var(--bg);
		padding: 0.25lh 1ch;

		&:hover {
			background-color: var(--bg-secondary);
		}

		&::checkmark {
			order: 1;
			margin-left: auto;
		}
	}

	@media (width >= 768px) {
		.top {
			justify-content: space-between;
			align-items: start;
			flex-direction: row;
		}

		.right {
			text-align: right;
		}
	}

	@media (scripting: none) {
		.left::after {
			display: block;
			content: "JS is not required btw :)";
			margin: 1em 0;
		}
	}
</style>
