<style>
	footer {
		padding: 1em 0;
	}
</style>

<footer>
	<hr>
	<p>© 2024 Muhammad Azis Ramadhan under the <a target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.en.html" rel="external noreferrer nofollow">GPLv3 License</a>.</p>
	<p>100% human-made.</span></p>
</footer>
