<script>
	const select = document.querySelector<HTMLSelectElement>("#theme-select");
	if (select) {
		select.value = localStorage.getItem("theme") || "system";
		select.addEventListener("change", () => {
			document.documentElement.setAttribute("theme", select.value);
			localStorage.setItem("theme", select.value);
		});
	}
</script>

<footer>
	<div class="left">
		<p>© {new Date().getFullYear()} under the <a target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.en.html" rel="external nofollow">GPLv3 License</a>.</p>
		<p class="js">
			<label for="theme-select">Theme:&nbsp;</label>[<select name="theme" id="theme-select">
				<option value="system">System</option>
				<option value="light">Light</option>
				<option value="dark">Dark</option>
			</select>]
		</p>
	</div>
	<div class="right">
		<p>100% human-made.</p>
	</div>
</footer>

<style>
	footer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: auto 0 0;
		padding: 1rlh 2ch;
		border: 1px solid var(--bg-secondary);
		border-style: solid none;
	}

	select {
		/* TODO: rework after customizable select lands in FF */
		appearance: base-select;
		cursor: pointer;
		padding: 0;
		border: none;
		background: none;
		color: var(--primary);
		font-family: inherit;
		font-size: inherit;
		text-overflow: ellipsis;

		&::picker(select) {
			appearance: base-select;
			color: var(--primary);
			cursor: initial;
			border: 2px solid var(--secondary);
		}

		&:open::picker-icon {
			rotate: 180deg;
		}
	}

	option {
		background-color: var(--bg);
		padding: 0.25lh 1ch;

		&:hover {
			background-color: var(--bg-secondary);
		}

		&::checkmark {
			order: 1;
			margin-left: auto;
		}
	}

	@media (width >= 768px) {
		footer {
			flex-direction: row;
			justify-content: space-between;
			align-items: start;
		}
	}

	@media (scripting: none) {
		.left::after {
			content: "JS is not required btw :)";
		}
	}
</style>
