<script>
	const select = document.querySelector<HTMLSelectElement>("#theme-select")
	if (select) select.addEventListener("change", () => {
		document.documentElement.setAttribute("theme", select.value)
		localStorage.setItem("theme", select.value)
	})
</script>

<footer>
	<div class="left">
		<p>© {new Date().getFullYear()} under the <a target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.en.html" rel="external nofollow">GPLv3 License</a>.</p>
		<label for="theme-select">Color:&nbsp;</label>[<select name="theme" id="theme-select">
			<option value="system">System</option>
			<option value="light">Light</option>
			<option value="dark">Dark</option>
		</select>]
	</div>
	<div class="right js">
		<p>100% human-made.</p>
	</div>
</footer>

<style>
	footer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 3em 0;
		padding: 0 2ch;
		border-top: 1px solid var(--bg-secondary);
	}

	select {
		/* TODO: rework after customizable select lands in FF */
		appearance: base-select;
		cursor: pointer;
		padding: 0;
		border: none;
		background: none;
		color: var(--primary);
		font-family: inherit;
		font-size: inherit;
		text-overflow: ellipsis;

		&::picker(select) {
			appearance: base-select;
			color: var(--primary);
			cursor: initial;
			border: 2px solid var(--secondary);
		}

		&:open::picker-icon {
			rotate: 180deg;
		}
	}

	option {
		background-color: var(--bg);
		padding: 0.5em 1ch;
		
		&:hover {
			background-color: var(--bg-secondary);
		}

		&::checkmark {
			order: 1;
			margin-left: auto;
		}
	}

	.right {
		display: flex;
		/* margin: 1em 0; */
	}

	@media (width >= 768px) {
		footer {
			flex-direction: row;
			justify-content: space-between;
			align-items: start;
		}
	}

	@media (scripting: none) {
		.left::after {
			content: "JS is not required btw :)";
		}
	}
</style>
