---
import { Font } from 'astro:assets'
const { title = 'azrd' } = Astro.props
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="description" content="My personal webpage" />
	<meta property="og:title" content="azrd" />
	<meta property="og:description" content="My personal webpage" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="./assets/og.jpg" />
	<meta property="og:image:type" content="image/jpeg" />
	<Font cssVariable="--font-subset" />
	<link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
	<link rel="sitemap" href="/sitemap-index.xml" />
	<script is:inline>
		const theme = localStorage.getItem("theme") || "system";
		document.documentElement.setAttribute("theme", theme);
	</script>
	<title>{title}</title>
	<slot></slot>
</head>
