---
// filename reference https://www.youtube.com/watch?v=Iq3EZtD0QDE
import "../styles/global.css";
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="description" content="My personal webpage" />
		<meta property="og:title" content="azrd" />
		<meta property="og:description" content="My personal webpage" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="./assets/og.jpg" />
		<meta property="og:image:type" content="image/jpeg" />
		<link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
		<title>{title}</title>
	</head>

	<body>
		<div id="page">
			<slot />
		</div>
	</body>
</html>
