---
// filename reference https://www.youtube.com/watch?v=Iq3EZtD0QDE
import "../styles/main.css"
import { Font } from "astro:assets"
import Opengraph from "../components/opengraph.astro"

const { title = "azrd" } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<Opengraph />
		{/*
			Font is preloaded only in dev mode beceause only prod has http caching
			which makes fonts flicker on every page load in dev.
		*/}
		<Font cssVariable="--font-subset" preload={import.meta.env.DEV} />
		<link rel="icon" href="/favicon.ico" sizes="48x48" />
		<link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="alternate" type="application/rss+xml" title="azrd" href="/rss.xml" />
		<script is:inline>
			const theme = localStorage.getItem("theme") || "system"
			document.documentElement.setAttribute("theme", theme)
		</script>
		<title>{title}</title>
	</head>
	<body>
		<slot name="header" />
		<main>
			<div id="page">
				<slot />
			</div>
		</main>
		<slot name="footer" />
	</body>
</html>

<style>
	html {
		background-color: var(--bg);
		font-family: var(--font-subset);
		scrollbar-color: var(--fg) transparent;
		overflow-y: scroll;

		@media (width >= 768px) {
			background-color: var(--bg-secondary);
		}
	}

	body {
		color: var(--fg-secondary);
		display: flex;
		flex-direction: column;
		/* hyphens: auto; */
		line-height: 1.5;
		margin: 0 auto;
		max-width: var(--max-width);
		min-height: 100svh;
		text-wrap: pretty;
		text-size-adjust: none;
		position: relative;
	}

	#page {
		background-color: var(--bg);
		min-width: 0;
		width: 100%;
		padding: calc(2rlh + 1lh) 2.5ch 1lh;
	}

	main {
		display: flex;
		flex-grow: 1;
		z-index: 1;
	}

	@media (width >= 900px) {
		main {
			--pattern-color: light-dark(#00000019,#ffffff0b);
			
			&::before {
				border-right: 1px solid var(--bg-secondary);
			}

			&::after {
				border-left: 1px solid var(--bg-secondary);
			}

			&::before, &::after {
				flex-shrink: 0;
				content: '';
				width: 5ch;
				background-color: var(--bg);
				background-size: 10px 10px;
				background-image: repeating-linear-gradient(
					45deg,
					var(--pattern-color) 0,
					var(--pattern-color) 1px,
					transparent 0,
					transparent 50%
				);
			}
		}
	}
</style>
