---
// filename reference https://www.youtube.com/watch?v=Iq3EZtD0QDE
import '../styles/main.css'
import { Font } from 'astro:assets'
const { title = 'azrd' } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="description" content="My personal webpage" />
		<Font cssVariable="--font-subset" />
		<link rel="icon" href="/favicon.ico" sizes="48x48" />
		<link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<script is:inline>document.documentElement.setAttribute("theme",localStorage.getItem("theme")||"system")</script>
		<title>{title}</title>
	</head>
	<body>
		<div id="page">
			<slot name="header" />
			<main>
				<slot />
			</main>
			<slot name="footer" />
		</div>
	</body>
</html>

<style is:global>
	html {
		background-color: var(--bg); /* mobile nav button bg */
		scrollbar-color: var(--primary) var(--bg-secondary);
		overflow-y: scroll;
	}

	body {
		background-color: var(--bg-secondary);
		font-family: "JetBrains Mono", var(--font-subset);
		display: flex;
		justify-content: center;
		margin: 0;
		color: var(--secondary);
	}

	#page {
		display: flex;
		flex-direction: column;
		background-color: var(--bg);
		line-height: 1.65;
		width: 100%;
		max-width: 80ch;
		min-height: 100svh;
		text-wrap: pretty;
		hyphens: auto;
	}

	main {
		padding: 0 2ch 1rlh;
	}

	@media (width >= 900px) {
		body {
			&::before {
				border-right: 1px var(--bg-secondary);
				border-right-style: dashed;
			}

			&::after {
				border-left: 1px var(--bg-secondary);
				border-left-style: dashed;
			}

			&::before, &::after {
				z-index: 1;
				content: '';
				width: 5ch;
				background-color: var(--bg);
				mask-image: url("../components/decoration.svg");
				mask-size: contain;
			}
		}
	}

	@media (scripting: none) {
		.js {
			display: none !important;
		}
	}
</style>
