---
// filename reference https://www.youtube.com/watch?v=Iq3EZtD0QDE
import '../main.css'
const { title = 'azrd' } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="description" content="My personal webpage" />
		<meta property="og:title" content="azrd" />
		<meta property="og:description" content="My personal webpage" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="./assets/og.jpg" />
		<meta property="og:image:type" content="image/jpeg" />
		<link rel="preload" href="/assets/gitlab-mono.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<script is:inline>
			const theme = localStorage.getItem("theme") || "system";
			document.documentElement.setAttribute("theme", theme);

			document.addEventListener("DOMContentLoaded", () => {
				const activeThemeInput = document.querySelector(`input[value='${theme}']`);
				if (activeThemeInput) activeThemeInput.checked = true;
			})
		</script>
		<title>{title}</title>
	</head>

	<body>
		{/*
			NOTE: the reason for this overly complex layout is because i dont want
			the navbar to have transparent gaps, so when scrolling the page
			anything that overflows will be covered by the navbar background
		*/}
		<div id="page">
			<slot name="header" />
			<div id="content">
				<slot />
			</div>
		</div>
	</body>
</html>

<style is:global>
	html {
		background-color: var(--bg); /* mobile nav button bg */
		scrollbar-width: thin;
		scrollbar-color: var(--secondary) var(--bg-secondary);
		overflow-y: scroll;
	}

	body {
		background-color: var(--bg-secondary);
		font-family: 'Gitlab Mono', monospace;
		display: flex;
		justify-content: center;
		margin: 0;
		color: var(--secondary);
	}

	#page {
		background-color: var(--bg);
		line-height: 1.5;
		width: 100%;
		max-width: 80ch;
		min-height: 100svh;
		/* firefox and safari doesnt support pretty */
		text-wrap: balance;
		text-wrap: pretty;
		hyphens: auto;
	}

	#content {
		padding: 0 2ch;
	}

	@media (width >= 900px) {
		body {
			&::before {
				border-right: 1px var(--bg-secondary);
				border-right-style: dashed;
			}

			&::after {
				border-left: 1px var(--bg-secondary);
				border-left-style: dashed;
			}

			&::before, &::after {
				z-index: 1;
				content: '';
				width: 3.25em;
				background-color: var(--bg);
				mask-image: url("../components/decoration.svg");
				mask-size: contain;
			}
		}
	}
</style>
