---
// filename reference https://www.youtube.com/watch?v=Iq3EZtD0QDE
import "../styles/main.css";
import { Font } from "astro:assets";
import Opengraph from "../components/opengraph.astro";

const { title = "azrd" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<Opengraph />
		<Font cssVariable="--font-subset" />
		<link rel="icon" href="/favicon.ico" sizes="48x48" />
		<link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title="azrd"
			href="/rss.xml"
		/>
		<script is:inline>document.documentElement.setAttribute("theme",localStorage.getItem("theme")||"system")</script>
		<title>{title}</title>
	</head>
	<body>
		<slot name="header" />
		<main>
			<div id="page"><slot /></div>
		</main>
		<slot name="footer" />
	</body>
</html>

<script>
	// Opt out from BFCache to prevent popover state persisting
	if (window.isSecureContext) navigator.locks.request("", () => {})
</script>

<style>
	html {
		background-color: var(--bg);
		font-family: "JetBrains Mono", "JetBrainsMono Nerd Font", var(--font-subset);
		scrollbar-color: var(--fg) transparent;
		overflow-y: scroll;

		@media (width >= 768px) {
			background-color: var(--bg-secondary);
		}
	}

	body {
		color: var(--fg-secondary);
		display: flex;
		flex-direction: column;
		/* hyphens: auto; */
		line-height: 1.65;
		margin: 0 auto;
		max-width: 95ch;
		min-height: 100svh;
		text-wrap: pretty;
		text-size-adjust: none;
		position: relative;
	}

	#page {
		background-color: var(--bg);
		min-width: 0;
		width: 100%;
		padding: 0 2ch 1rlh;
	}

	main {
		display: flex;
		flex-grow: 1;
		z-index: 1;
	}

	@media (width >= 900px) {
		main {
			&::before {
				border-right: 1px var(--bg-secondary);
				border-right-style: dashed;
			}

			&::after {
				border-left: 1px var(--bg-secondary);
				border-left-style: dashed;
			}

			&::before, &::after {
				flex-shrink: 0;
				content: '';
				width: 5ch;
				background-color: var(--bg);
				mask-image: url("../components/decoration.svg");
				mask-size: contain;
			}
		}
	}
</style>
